<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Note</title>
</head>
<body>
    <h1>Create a new Note</h1>
    <form action="/doAdd" method="post">
        Note <input type="text" name="txtNote">
        <input type="submit" value="Create Note">
    </form>
</body>
</html>