<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
</head>
<body>
     <form action="/insert" method="POST">
        Product Name<input type="text" name="productName">
        <br>
        Price <input type="text" name="price" id=""> 
        <br>
        <input type="submit" value="Insert">
    </form>
</body>
</html>